<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    
    <ion-avatar slot="start">
      <img [src]="contact?.thumbnail">
    </ion-avatar>
    
    <ion-title>
      {{contact?.name}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <section class="messages-container">
    <ng-container *ngFor="let message of messages">
      <div class="message">
        <p>{{message.content}}</p>
        <small>{{message.timestamp | date : 'hh:mm aa'}}</small>
      </div>
    </ng-container>
  </section>

</ion-content>

<ion-footer>
  <div class="new-message-wrapper">
    <ion-textarea #text rows="1" autoGrow="true"></ion-textarea>
  </div>

  <div class="send-button-wrapper">
    <ion-button shape="round" size="small" (click)="send(text)">
      <ion-icon name="send" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</ion-footer>