<ion-backdrop></ion-backdrop>

<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{contact.name}}
    </ion-card-title>
  </ion-card-header>
  
  <img [src]="contact.avatar" alt="Profile pic" class="profile-pic" (click)="openImageViewer(contact.avatar)">
  
  <ion-card-content>
    <ion-toolbar>
      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbox-ellipses"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="videocam"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>