<ion-content>

  <ion-list class="chats-list">
    <ion-item class="chat" *ngFor="let chat of chats">
      <ion-avatar slot="start" (click)="showContactProfile(chat.contact)">
        <img [src]="chat.contact.thumbnail">
      </ion-avatar>

      <ion-label [routerLink]="['/', 'chat', chat.id]">
        <h2>
          {{chat.contact.name}}
        </h2>
        <p>
          {{chat.lastMessage?.content}}
        </p>
      </ion-label>

      <div class="right-side" slot="end" [routerLink]="['/', 'chat', chat.id]">
        <ion-note [color]="chat.pending ? 'secondary' : null">{{chat.lastMessage?.timestamp | date : 'hh:mm aa'}}</ion-note>
        
        <ion-chip *ngIf="chat.pending" [color]="chat.pending ? 'secondary' : null">
          <ion-label>{{chat.pending}}</ion-label>
        </ion-chip>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/', 'contacts']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>